<nav class="brown lighten-3" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="sass.html"><i class="material-icons left">done_all</i>Empréstimos</a></li>
          <li><a href="sass.html"><i class="material-icons left">book</i>Obras Literárias</a></li>
          <li><a href="badges.html"><i class="material-icons left">people</i>Usuários</a></li>
        </ul>
    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <div class="row center">
        <div class="card-panel left z-depth-3">
            <i class="material-icons left">book</i><span class="grey-text text-darken-2">"A leitura é uma fonte inesgotável de prazer mas por incrível que pareça, a quase totalidade, não sente esta sede."</span>
        </div>
      <p class="right grey-text text-darken-2 light-2">Carlos Drummond de Andrade</p>
    </div>
    <div class="row center">
      <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange z-depth-1">Realizar empréstimo</a>
    </div>
    <br><br>

  </div>
</div>
