<nav class="brown lighten-3" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
          <li><a md-button [routerLink]="['/emprestimos']"><i class="material-icons left">done_all</i>Empréstimos</a></li>
          <li><a md-button [routerLink]="['/livros']"><i class="material-icons left">book</i>Obras Literárias</a></li>
          <li><a md-button [routerLink]="['/usuarios']"><i class="material-icons left">people</i>Usuário</a></li>
        </ul>
    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
