<footer class="page-footer brown">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Farol do Saber</h5>
        <p class="grey-text text-lighten-4">O Farol do Saber é uma rede de pequenas bibliotecas espalhadas por diversos bairros de Curitiba. O projeto foi concebido e é mantido pela prefeitura municipal, na administração de Rafael Greca.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Sites úteis</h5>
        <ul>
          <li><a class="white-text" href="http://www.curitiba.pr.gov.br/">Prefeitura de Curitiba</a></li>
          <li><a class="white-text" href="http://www.curitiba.pr.gov.br/conteudo/secretaria-sme/32">Secretaria de educação de Curitiba</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
        © 2017 Cleverson Lezainski, feito com <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>
