<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <div class="row center">
        <div class="card-panel left z-depth-3">
            <i class="material-icons left">book</i><span class="grey-text text-darken-2">"A leitura é uma fonte inesgotável de prazer mas por incrível que pareça, a quase totalidade, não sente esta sede."</span>
        </div>
      <p class="right grey-text text-darken-2 light-2">Carlos Drummond de Andrade</p>
    </div>
    <div class="row center">
        <a md-button [routerLink]="['/emprestimos']" id="download-button" class="btn-large waves-effect waves-light orange z-depth-1">Realizar empréstimo</a>
    </div>
    <br><br>

  </div>
</div>
